- body_class << 'homepage'


.slides

  .slide
    .content
      -# %a{href:"http://jaredgrippe.me"} JaredGrippe.me
      One
  .slide
    .content
      Two
  .slide
    .content
      Three
  .slide
    .content
      Four
  .slide
    .content
      Five
  .slide
    .content
      Six
