.content
  %h1 four ooooooh ooooooh ooooooh four
  %object{:height => "385", :width => "640"}
    %param{:name => "movie", :value => "http://www.youtube.com/v/k6UPR3OdroY&hl=en_US&fs=1&autoplay=1&start=11"}
    %param{:name => "allowFullScreen", :value => "true"}
    %param{:name => "allowscriptaccess", :value => "always"}
    %embed{:allowfullscreen => "true", :allowscriptaccess => "always", :height => "385", :src => "http://www.youtube.com/v/k6UPR3OdroY&hl=en_US&fs=1&autoplay=1&start=11", :type => "application/x-shockwave-flash", :width => "640"}