body.homepage
  #content
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    margin: 0
    height: 100%
    width: 100%
    display: table
    .link
      display: table-cell
      text-align: center
      vertical-align: middle

  a
    text-decoration: none
    font-size: 100px
    color: black
