body,html
  height: 100%
  width: 100%

#background
  z-index: -1
  width: 100%
  height: 100%
  position: absolute
  overflow: hidden
  top: 0
  left: 0
  background: image-url("blue-god-rays.gif") center center

#content
  margin: 0 auto
  width: 960px
  min-height: 100%
